
#contact-header {
  background-image: url("../../../../../images/keyboard_med.jpg");
  height: 350px;
  background-color: #e6990b;
  color: white;
  padding: 15px;
  background-position: center;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;

}

#contact-location {
  margin: 135px 0 0 0 ;
}

@media only screen and (max-device-width : 1024px) {
  #contact-header {   
    background-attachment: scroll;
  }  
}