.container-splash {
  height: 100vh;
  min-height: 480px;
  background-color: #08254f;
  background-image: url("../../images/splash.jpg");
  background-position: center;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (max-device-width : 1024px) {
  .container-splash {   
    background-attachment: scroll;
  }  
}
