.navbar {
  position: fixed;
  height: 56px;
  width: 100%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 100;
  background-color: rgba(0,0,0,.5);
  color: white;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
}
.navbar-light {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 2px 2px 0 rgba(18,100,229,0.5);
  box-shadow: 0 2px 2px 0 rgba(18,100,229,0.5);
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
}

.navbar-container {
  display: flex;
  height: 56px;
  align-items: center;
}

.navbar a.brand-logo {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  margin: auto;
}

.navbar-light a.brand-logo {
  color: black;
}
.navbar-light a.brand-logo:hover {
  color: #5c6bc0;
}

.nav-icon-container {
  width: 48px;
}

.nav-section {
  display: none;
  list-style-type: none;
  margin-left: auto;
  padding: 0
}
.nav-section li {
  display: inline-block;
}

.nav-section li a {
  display: block;
  line-height: 56px;
  height: 56px;
  color: white;
  text-decoration: none;
  padding: 0 15px;
}
.nav-section li a:hover {
  background-color: black;
  font-size: 1.05rem;
}

.navbar-light .nav-section li a {
  color: black;
}
.navbar-light .nav-section li a:hover {
  background-color: #c5cae9;
}
.navbar-light .nav-section li a.active {
  background-color: #e8eaf6;
  color: #3f51b5;
}

.nav-section-sidebar {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  list-style-type: none;
  width: 240px;
  margin: 0;
  padding: 16px;
}
.nav-section-sidebar hr {
  border: .5px solid #1e88e5;
}
.nav-section-sidebar li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  line-height: 40px;
  height: 40px;
  color: black;
  text-decoration: none;
}
.nav-section-sidebar li:not(:first-child) a:hover  {
  font-size: 1.15rem;
  background-color: #c5cae9;
}
.nav-section-sidebar li a.active {
  background-color: #e8eaf6;
  color: #3f51b5;
}
.sidebar-brand-logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
}
.sidebar-brand-logo a:hover {
  font-size: 1.36rem;
  background-color: #c5cae9;
}

@media (min-width: 768px) {
  .nav-icon-container {
    display: none;
  }
  .navbar a.brand-logo {
    margin: 0;
    margin-right: auto;
  }
  .nav-section {
    display: block;
  }
}