
#about-header {
  background-image: url("../../../../../images/computer.jpg");
  height: 400px;
  background-color: #e6990b;;
  color: white;
  padding: 15px;
  background-position: center;
  background-size: cover;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;

}

#about-location {
  margin: 160px 0 0 0 ;
}

@media only screen and (max-device-width : 1024px) {
  #about-header {   
    background-attachment: scroll;
  }  
}